@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply h-auto p-0 overflow-x-hidden bg-primaryDark font-inter;
  }

  .sidebar {
    @apply bg-primaryDark;
  }

  .nav {
    @apply flex flex-wrap p-0 list-none mb-[60px] pt-[70px];
  }
  .nav-link {
    @apply hover:rounded-r-full;
  }
  .card-wrapper {
    @apply bg-primaryDark h-[384px] w-auto rounded-nearkits transition ease-in-out transform  hover:-translate-y-2 duration-200;
  }
  .mynft-divider {
    @apply grid gap-6 md:grid-cols-3 xl:grid-cols-5;
  }
  .button-base {
    @apply px-4 py-2 text-sm font-medium text-white transition duration-150 ease-in-out bg-secondaryDark rounded-nearkits hover:bg-opacity-70;
  }
}

html {
  min-height: auto;
  overflow: scroll;
}

.container-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
}

.sidebar {
  min-height: calc(100vh - 70px);
  font-weight: normal;
  padding: 0;
  width: 244px;
  transition: width 0.25s ease;
}

.sidebar .sidebar-brand-wrapper {
  width: 244px;
  height: 70px;
  background-color: #191c24;
}

.sidebar .nav .nav-item {
  padding-right: 20px;
}

.sidebar .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  height: 46px;
  padding: 0.8rem 10px 0.8rem 1.188rem;
}

.sidebar .nav .nav-item .nav-link:hover {
  background-color: #0f1015;
}

.active::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #0090e7;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.page-body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - 244px);
  transition: all 0.25s ease;
}

.navbar {
  left: 244px;
  background-color: #191c24;
  transition: left 0.25s ease;
}

.navbar .navbar-menu-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 70px;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav-right {
  flex-direction: row;
  align-items: center;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.main-panel {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 70px);
  position: relative;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  transition: width 0.25s ease margin 0.25s ease;
  background-color: #000000;
}

.content-wrapper {
  height: auto;
  background: #000000;
  padding: 1.875rem 1.75rem;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

.MuiPagination-root ul li button {
  color: white;
  font-size: 16px;
}

.MuiPagination-root ul li div {
  color: white;
  font-size: 16px;
}

.MuiPagination-root ul li button svg {
  fill: white;
}

@media only screen and (min-width: 992px) {
  .sidebar {
    position: fixed;
    height: 100%;
    margin-right: 244px;
    border-right: 2px solid #8f5fe8;
  }

  .page-body-wrapper {
    margin-left: 244px;
  }

  .navbar-nav-right {
    margin-left: auto;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .navbar-brand-wrapper {
    width: 75px;
  }

  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -244px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    left: 0;
  }
}
