@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply h-auto p-0 overflow-x-hidden bg-white dark:bg-primaryDark font-inter;
  }

  .sidebar {
    @apply bg-whiteTheme dark:bg-primaryDark;
  }

  .sidebar .sidebar-brand-wrapper {
    @apply dark:bg-primaryDark bg-fadeWhite;
  }

  .nav {
    @apply flex flex-wrap p-0 list-none mb-[60px] lg:pt-[70px];
  }

  .navbar {
    @apply bg-white dark:bg-primaryDark;
  }

  .nav-link {
    @apply hover:rounded-r-full;
  }
  .card-wrapper {
    @apply dark:bg-primaryDark bg-white h-[384px] lg:h-auto border border-black w-auto rounded-nearkits transition ease-in-out transform  hover:-translate-y-2 duration-200 hover:shadow-md;
  }
  .mynft-divider {
    @apply grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 lg:grid-cols-3;
  }
  .button-base {
    @apply px-4 py-2 text-sm font-medium text-white transition duration-150 ease-in-out bg-black dark:bg-secondaryDark rounded-nearkits hover:bg-opacity-70;
  }
  .sidebar .nav .nav-item .nav-link {
    @apply hover:bg-white dark:hover:bg-active;
  }
  .sidebar .nav .nav-item .nav-link {
    @apply text-black dark:text-white;
  }

  .content-wrapper {
    @apply transition duration-75 ease-in bg-secondaryWhite dark:bg-black;
  }
  .main-panel {
    @apply bg-white dark:bg-black;
  }
  .MuiPagination-root ul li button {
    @apply text-base text-black dark:text-white;
  }

  .MuiPagination-root ul li div {
    @apply text-base text-black dark:text-white;
  }

  .MuiPagination-root ul li button svg {
    @apply dark:fill-white fill-black;
  }
  .dashboard-value-wrapper {
    @apply container flex flex-col w-full max-w-2xl md:w-[38%];
  }

  .sidebar {
    @apply primary:border-r-2 dark:primary:border-r-purpleBase primary:border-r-white;
  }
}

html {
  min-height: auto;
  overflow: scroll;
}

.container-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
}

.sidebar {
  min-height: calc(100vh - 70px);
  font-weight: normal;
  padding: 0;
  width: 244px;
  transition: width 0.25s ease, background 0.25s ease;
  z-index: 11;
}

.sidebar .sidebar-brand-wrapper {
  width: 244px;
  height: 70px;
}

.sidebar .nav .nav-item {
  padding-right: 20px;
}

.sidebar .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 46px;
  padding: 0.8rem 10px 0.8rem 1.188rem;
}

.active::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #0090e7;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.page-body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - 244px);
  transition: all 0.25s ease;
}

.navbar {
  left: 244px;
  transition: left 0.25s ease;
}

.navbar .navbar-menu-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 70px;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav-right {
  flex-direction: row;
  align-items: center;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.main-panel {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 70px);
  position: relative;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  transition: width 0.25s ease margin 0.25s ease;
}

.content-wrapper {
  height: auto;
  padding: 1.875rem 1.75rem;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .sidebar {
    position: fixed;
    height: 100%;
    margin-right: 244px;
  }

  .page-body-wrapper {
    margin-left: 244px;
  }

  .navbar-nav-right {
    margin-left: auto;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .navbar-brand-wrapper {
    width: 75px;
  }

  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -244px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .sidebar-offcanvas.sidebar-offcanvas-active {
    right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    left: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 18px;
  left: 6px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #8f5fe8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 10px;
}
